@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mdc-ripple";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";

#list {
  display: flex;
  z-index: 0;
}

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.shrine-logo-drawer {
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);

  text-align: center;
  margin: 5px auto;
}

.product-list {
  @include mdc-image-list-masonry-columns(4);
   min-width: 500px;

  overflow: auto;
  padding: 80px 100px 0;

  .mdc-image-list__supporting {
    justify-content: center;
  }

  .mdc-image-list__item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #22446038;
    min-width: 100px;
  }

  .mdc-image-list__label {
    @include mdc-typography(subtitle2);
  }
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
  @include mdc-drawer-z-index(0);

  text-transform: uppercase;

  .mdc-list {
    margin: 70px 5px auto 5px;
  }

  .mdc-list-item {
    border-radius: 6px;
    justify-content: center;
  }

  // This needs 3-class specificity to override MDC Drawer styles
  .mdc-list .mdc-list-item {
    @include mdc-states-activated(#fff);
  }
}

.shrine-select-item-divider {
  display: block;
  border-bottom-color: #EAA4A4;
  border-bottom-width: 2px;
  width: 50px;
  position: relative;
  top: -8px;
}

// This needs 2-class specificity to override MDC Drawer styles
.shrine-drawer .shrine-select-item-divider {
  margin: 0 auto;
}

.shrine-body-home {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
  z-index: 0; // Elevate over the drawer
}

.shrine-body-client-product {

  z-index: 0; // Elevate over the drawer
  display: block;
  overflow: auto;
  width: 100%;

  ul {
    list-style-type: none;
    li + li{
      padding: 5px 0 0 0;
    }
    padding-left: 5px ;
  }

  #product_list {
    list-style-type: none;
      li + li{
        padding: 5px 0 0 0;
      }
      padding-left: 5px ;
  }
  
  #drink_img{
    border-radius: 0.5rem;
    display: inline-block;
    min-width: 300px;
  }
  
  #div-left{
    display: inline-block;
    max-width: 400px;
    min-width: 200px;
    padding-right: 20px;
  }
  
  #div-left-out{
    height: 100%;
  }
  
  #div-out{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% 5% 3% 5%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px #22446038;
  }
}



.shrine-body-admin-product {

  z-index: 0; // Elevate over the drawer
  display: block;
  overflow: auto;
  width: 100%;

  ul {
    list-style-type: none;
    li + li{
      padding: 5px 0 0 0;
    }
    padding-left: 5px ;
  }

  .mdc-image-list__image{
    border-radius: 0.5rem;
    display: inline-block;
    min-width: 300px;
  }
  
  #div-left{
    display: inline-block;
    max-width: 400px;
    min-width: 300px;
    padding-right: 20px;
  }
  
  #div-left-out{
    height: 100%;
  }
  
  #div-out{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% 5% 3% 5%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px #22446038;
  }
  
  
  .campo {
    margin-bottom: 1em;
  }
  
  .campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
  }
  
  #ingredients, #nutrition {
    height: 80px;
  }
  
  #fun-fact{
    height: 50px;
  }
  
  textarea, input{
    width: 250px;
  }
  
  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container:hover {
    
    img{
      filter: blur(10px);
    }
  
    #edit-image {
      display: block;
    }
  }
  
  #edit-image {
    position: absolute;
    display: none;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:#fff;
    font-size: 1em;
    font-weight: 900;
  }
}