<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BD - Home</title>
  <link rel="shortcut icon" href="https://material.io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="bundle-home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .button-container .mdc-button.mdc-button--raised {
      background-color: #6200ee;
      color: #ffffff;
    }

    .button-container .mdc-button {
      color: #6200ee;
    }
  </style>

</head>

<body class="home">

  <div id="list">
    <aside class="mdc-drawer shrine-drawer" style="background:linear-gradient(to bottom,#7f7fd5 30%,#86a8e7,#91eae4);">
      <div class="mdc-drawer__header">
        <img src="./assets/home_logo.gif" width="100%; margin-top: 10px">

      </div>
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated" aria-selected="true" tabindex="0" href="/homePage">
            <span class="mdc-list-item__text">Featured</span>
          </a>
          <div class="shrine-select-item-divider mdc-list-divider" role="separator"></div>
          <a class="mdc-list-item" href="/homePage/#/hot">
            <span class="mdc-list-item__text">Hot drinks</span>
            </router-link>
            <a class="mdc-list-item" href="/homePage/#/cold">
              <span class="mdc-list-item__text">Cold drinks</span>
            </a>
            <a class="mdc-list-item" href="/homePage/#/alcoholic">
              <span class="mdc-list-item__text">Alcoholic</span>
            </a>
            <a v-on:click="goToAccount" id="link-2" class="mdc-list-item">
              <span class="mdc-list-item__text">My Account</span>
            </a>
            <a  v-if="user_type == 'client'" v-on:click="goToCart" id="link-1" class="mdc-list-item" aria-selected="true" tabindex="0" href="#">
              <span class="mdc-list-item__text">My cart</span>
            </a>
            <a v-if="user_type == 'admin'" class="mdc-list-item"  href="/userManagementPage">
              <span class="mdc-list-item__text">Manage Users</span>
            </a>
            <a v-if="user_type == 'admin'" class="mdc-list-item" href="/addProductPage">
              <span class="mdc-list-item__text">Add New Product</span>
            </a>
            <a v-on:click="logout" id="link-3" class="mdc-list-item" href="#">
              <span class="mdc-list-item__text">Logout</span>
            </a>
        </nav>
      </div>
    </aside>
    <router-view></router-view>
  </div>


  <template id="home_id">
    <div class="shrine-body-home">
      <button type="submit"><i class="fa fa-search"></i></button>
      <input type="text" placeholder="Search..">
      
      <ul class="mdc-image-list mdc-image-list--masonry product-list">
        <div v-for="(item, key) in products" v-if="item.isAvailable == 'true'">
          <router-link :to="{name: product_type,params:{id:item.name} }">
            <li class="mdc-image-list__item">
              <img class="mdc-image-list__image" :src="pictures[key]">
              <div id="link-1" class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">{{ item.name }}</span>
              </div>
            </li>
          </router-link>
        </div>
      </ul>
    </div>
  </template>

  <template id="client_product_template">
    <div class="shrine-body-client-product">
      <div id="div-out">
        <div id="div-left-out">
          <div id="div-left">
            <h2>{{ product.name }}</h2>
            <div class="div-body">
              <ul id="product_list">
                <li>
                  <strong>Fun fact:</strong> {{ product.fun_fact }}
                </li>
                <li>
                  <strong>Ingredients:</strong> {{ product.ingredients }}
                </li>
                <li>
                  <strong>Nutrition: </strong> {{ product.nutrition }}
                </li>
                <li>
                  <strong>Recipe link: </strong> <a href="#">{{ product.recipe_link }}</a>
                </li>
              </ul>
            </div>
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <div class="button-container">
                  <button type="button" class="mdc-button cancel">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">
                      US$ {{ product.price }}
                    </span>
                  </button>
                  <button v-on:click="addToCart(id)" id="button-1" class="mdc-button mdc-button--raised next">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">
                      Add to cart
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img id="drink_img" class="mdc-image-list__image" :src="image">
        </div>
      </div>
    </div>
  </template>

  <template id="admin">
    <div class="shrine-body-admin-product">
      <div id="div-out">
        <div id="div-left-out">
          <div id="div-left">
            <div class="div-body">
              <form name="product_form" action="#" method="post">
                <div class="campo">
                  <label for="fun-fact">Name:</label>
                  <input type="text" id="name" :value="product.name">
                </div>
                <div class="campo">
                  <label for="fun-fact">Fun fact:</label>
                  <textarea maxlength="200" id="fun-fact" :value="product.fun_fact"></textarea>
                </div>
                <div class="campo">
                  <label for="ingredients">Ingredients:</label>
                  <textarea maxlength="500" id="ingredients" :value="product.ingredients"></textarea>
                </div>
                <div class="campo">
                  <label for="nutrition">Nutrition:</label>
                  <textarea maxlength="500" id="nutrition" :value="product.nutrition"></textarea>
                </div>
                <div class="campo">
                  <label for="recipe">Recipe link:</label>
                  <input type="text" id="recipe" :value="product.recipe_link">
                </div>
                <div class="campo">
                  <label for="price">US$:</label>
                  <input type="text" id="price" :value="product.price">
                </div>
              </form>
            </div>
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <div class="button-container">
                  <button v-on:click="removeProduct(product.name)" type="button" class="mdc-button cancel">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">
                      Remove product
                    </span>
                  </button>
                  <button v-on:click="updateProduct(product.name)" class="mdc-button mdc-button--raised next">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">
                      Save
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-container">
          <img class="mdc-image-list__image" :src="image">
          <div id="edit-image">EDIT IMAGE</div>
        </div>
      </div>
    </div>
  </template>

  <script src="bundle-home.js" async></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://unpkg.com/vue-router@2"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>

  <script type="module">


    const Client_product = Vue.component('client_product_component', {
      props: ['id'],
      template: '#client_product_template',
      data() {
        return {
          products: [],
          pictures: [],
          product: {
            name: null,
            fun_fact: null,
            ingredients: null,
            nutrition: null,
            recipe_link: null,
            price: null,
          },
          image: null,
        }
      },
      methods: {
        addToCart(id) {

          if (localStorage.getItem("username") == null) {
            location.href = '../loginPage';
          }
          else {
            var cart = JSON.parse(localStorage.getItem("cart"))
            cart.push(products[id])
            localStorage.setItem("cart", JSON.stringify(cart))
            location.href = '/cartPage';
          }
        }
      },
      async mounted() {
        let products = await fetch(`http://localhost:3000/products/one/${String(this.id).replace("/\s/g", "9")}`, {method: 'GET'});
        this.product = await products.json();
        this.image = `./assets/${this.product.name.replace(/\s/g,'').toLowerCase()}.jpg`

        // for(let i = 0; i < this.products.length; i++){
        //   let name = String(this.products[i].name);
        //   if(name == this.id){
        //     this.product = this.products[i]
        //   }
        // }

        this.isMounted = true;
        localStorage.setItem("products", this.products)
      }
    });

    const Admin_product = Vue.component('admin', {
      props: ['id'],
      template: '#admin',
      data() {
        return {
          products: [],
          pictures: [],
          product: {
            name: null,
            fun_fact: null,
            ingredients: null,
            nutrition: null,
            recipe_link: null,
            price: null,
          },
          image: null,
        }
      },
      methods: {
        async updateProduct(id) {
          console.log(id)
          let resp = await fetch(`http://localhost:3000/product/${id}`, {
            headers: {
              'Content-Type': 'application/json'
            },
            method: 'PUT',
            body: JSON.stringify({
              'name': `${document.product_form.elements.item(0).value}`,
              'fun_fact': `${document.product_form.elements.item(1).value}`,
              'ingredients': `${document.product_form.elements.item(2).value}`,
              'nutrition': `${document.product_form.elements.item(3).value}`,
              'recipe_link': `${document.product_form.elements.item(4).value}`,
              'isAvailable': 'true',
              'price': `${document.product_form.elements.item(5).value}`,
              'username': `${localStorage.getItem("username")}`
            })
          });
          

          location.href = '/homePage';
        },
        async removeProduct(id) {
          let resp = await fetch(`http://localhost:3000/product/remove/${id}`, {
            headers: {
              'Content-Type': 'application/json'
            },
            method: 'PUT',
            body: JSON.stringify({
              'isAvailable': 'false',
              'username': `${localStorage.getItem("username")}`
            })
          });
          location.href = '/homePage';
        }
      },
      async mounted() {
        let products = await fetch(`http://localhost:3000/product/${localStorage.getItem("username")}`, {method: 'GET'});
        this.products = await products.json();

        for(let i = 0; i < this.products.length; i++){
          let name = String(this.products[i].name);
          if(name == this.id){
            this.product = this.products[i]
            name = name.replace(/\s/g,'').toLowerCase();
            this.image = `./assets/${name}.jpg`
          }
        }

        this.isMounted = true;
        localStorage.setItem("products", this.products)
      }
    });

    const Home_featured = Vue.component('home_component', {
      template: '#home_id',
      data() {
        return {
          products: [], 
          product_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
          isMounted: false,
          pictures: [],
          user_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
        }
      },
      async mounted() {
        let products = await fetch(`http://localhost:3000/product`, {method: 'GET'});
        this.products = await products.json();
        console.log(this.product_type);

        for(let i = 0; i < this.products.length; i++){
          let name = String(this.products[i].name);
          name = name.replace(/\s/g,'').toLowerCase();
          this.pictures.push(`./assets/${name}.jpg`);
        }

        this.isMounted = true;
      }
    });

    const Home_hot_drinks = Vue.component('home_component', {
      template: '#home_id',
      data() {
        return {
          products: [], 
          product_type: localStorage.getItem("user_type"),
          isMounted: false,
          pictures: [],
          user_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
        }
      },
      async mounted(){
        let products = await fetch(`http://localhost:3000/product/hot`, {method: 'GET'});
        this.products = await products.json();
        console.log(this.products);

        for(let i = 0; i < this.products.length; i++){
          let name = String(this.products[i].name);
          name = name.replace(/\s/g,'').toLowerCase();
          this.pictures.push(`./assets/${name}.jpg`);
        }

        this.isMounted = true;
      }

    });
    const Home_cold_drinks = Vue.component('home_component', {
      template: '#home_id',
      data() {
        return {
          products: [], 
          product_type: localStorage.getItem("user_type"),
          isMounted: false,
          pictures: [],
          user_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
        }
      },
      async mounted(){
        let products = await fetch(`http://localhost:3000/product/cold`, {method: 'GET'});
        this.products = await products.json();
        console.log(this.products);

        for(let i = 0; i < this.products.length; i++){
          let name = String(this.products[i].name);
          name = name.replace(/\s/g,'').toLowerCase();
          this.pictures.push(`./assets/${name}.jpg`);
        }

        this.isMounted = true;
      }
    });
    const Home_alcoholic = Vue.component('home_component', {
      template: '#home_id',
      data() {
        return {
          products: [], 
          product_type: localStorage.getItem("user_type"),
          isMounted: false,
          pictures: [],
          user_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
        }
      },
      async mounted(){
        let products = await fetch(`http://localhost:3000/product/alcoholic`, {method: 'GET'});
        this.products = await products.json();
        console.log(this.products);

        for(let i = 0; i < this.products.length; i++){
          let name = String(this.products[i].name);
          name = name.replace(/\s/g,'').toLowerCase();
          this.pictures.push(`./assets/${name}.jpg`);
        }

        this.isMounted = true;
      }
    });


    var router = new VueRouter({
      routes: [
        { path: 'product/:id/', name: 'client', component: Client_product, props: true },
        { path: 'product/:id/', name: 'admin', component: Admin_product, props: true },
        { path: '/', component: Home_featured },
        { path: '/hot', component: Home_hot_drinks },
        { path: '/cold', component: Home_cold_drinks },
        { path: '/alcoholic', component: Home_alcoholic },
      ]
    })


    var products_list = new Vue({
      el: "#list",
      router,
      data() {
         return {
          user_type: localStorage.getItem("user_type") ? localStorage.getItem("user_type") : 'client',
         }
      },
      methods: {
        goToAccount: function () {
          {
            const hasUsername = localStorage.getItem("username")
            if (hasUsername == null) {
              location.href = '../loginPage';
            } else {
              location.href = '../clientAccountPage';
            }
          }
        },
        logout: () => {
            localStorage.removeItem("username");
            localStorage.setItem("user_type", 'client')
            window.location.href = '../homePage';
        },
        goToCart: () => {
            if (localStorage.getItem("username") == null) {
                location.href = '../loginPage';
            }
            else {
                location.href = '/cartPage';
            }
        },
      }
    });
  </script>

</body>

</html>