<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BD - Register</title>
  <link rel="shortcut icon" href="https://material.io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="bundle-register.css">
</head>
<body class="shrine-register" style="background:linear-gradient(to right,#7f7fd5,#86a8e7,#91eae4);
width: 100%;">
  <section class="header">
    <img src="./assets/logo.gif" width="20%" style="margin: 5%;">

  </section>

  <div  id="app" class="shrine-body"> 
    <h4>CREATE NEW ACCOUNT</h4>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="name" class="mdc-text-field__input" id="name">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label" id="name-label">Name</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="cpf" class="mdc-text-field__input" id="cpf">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label" id="name-label">CPF</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="phone" class="mdc-text-field__input" id="telephone">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label" id="name-label">Mobile phone</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="username" class="mdc-text-field__input" id="email">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="password" class="mdc-text-field__input" id="email">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="address1" class="mdc-text-field__input" id="address1">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Address 1</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="address2" class="mdc-text-field__input" id="address2">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Address 2</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="city" class="mdc-text-field__input" id="city">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">City</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="state" class="mdc-text-field__input" id="state">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">State</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="country" class="mdc-text-field__input" id="country">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Country</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input v-model="postal_code" class="mdc-text-field__input" id="postcode">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-hero-input" class="mdc-floating-label">Post Code</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="button-container">
      <button v-on:click="back" type="button" class="mdc-button cancel" >
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">
          Get Back
        </span>
      </button>
      <button v-on:click="validate" class="mdc-button mdc-button--raised next">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">
          Save
        </span>
      </button>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="bundle-register.js" async></script>
</body>
</html>
