<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BD - Add Product</title>
  <link rel="shortcut icon" href="https://material.io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="bundle-add-product.css">
  <style>
    .button-container .mdc-button.mdc-button--raised {
      background-color: #6200ee;
      color: #ffffff;
    }
    
    .button-container .mdc-button {
      color: #6200ee;
    }
  </style>
  
</head>

<body class="add-product">
  
  <div id="add-product-app">
    <aside class="mdc-drawer shrine-drawer" style="background:linear-gradient(to bottom,#7f7fd5 30%,#86a8e7,#91eae4);">
      <div class="mdc-drawer__header">
        <img src="./assets/home_logo.gif">
        
      </div>
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item" tabindex="0" href="/homePage">
            <span class="mdc-list-item__text">Home</span>
          </a>
          <a class="mdc-list-item"  href="/userManagementPage">
            <span class="mdc-list-item__text">Manage Users</span>
          </a>
          <a class="mdc-list-item mdc-list-item--activated" aria-selected="true" href="/addProductPage">
            <span class="mdc-list-item__text">Add New Product</span>
          </a>
          <a class="mdc-list-item" href="/clientAccountPage">
            <span class="mdc-list-item__text">My Account</span>
          </a>
          <a v-on:click="logout" class="mdc-list-item" >
            <span class="mdc-list-item__text">Logout</span>
          </a>
        </nav>
      </div>
    </aside>
    <div class="shrine-body-admin-product">
      <div id="div-out">
        <form name="product_form" action="#" method="post">
          <div class="campo">
            <label for="fun-fact">Name:</label>
            <input v-on:change="setFlag" type="text" id="name" v-model="name" required>
          </div>
          <div class="campo">
            <label for="fun-fact">Fun fact:</label>
            <textarea maxlength="200" id="fun-fact" v-model="fun_fact"></textarea>
          </div>
          <div class="campo">
            <label for="ingredients">Ingredients:</label>
            <textarea maxlength="500" id="ingredients" v-model="ingredients"></textarea>
          </div>
          <div class="campo">
            <label for="nutrition">Nutrition:</label>
            <textarea maxlength="500" id="nutrition" v-model="nutrition"></textarea>
          </div>
          <div class="campo">
            <label for="recipe">Recipe link:</label>
            <input type="text" id="recipe" v-model="recipe_link">
          </div>
          <div class="campo">
            <label for="price">US$:</label>
            <input type="text" id="price" v-model="price">
          </div>
          <div v-if="nameCompleted" class="campo">
            <label for="image">Product image:</label>
            <input  type="file" id="image" name="filename" v-on:change="addPicture">
          </div>
        </form>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <div class="button-container">
              <button v-on:click="back" type="button" class="mdc-button cancel">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">
                  Cancel
                </span>
              </button>
              <button @click="addProduct" class="mdc-button mdc-button--raised next">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">
                  Save
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://unpkg.com/vue-router@2"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="bundle-add-product.js" async></script>

</body>

</html>